[Unit]
Description=rov python code from ~/rov-web/python/main.py

[Service]
User=pi
# this is so python will spit out print messages to the system log instantly instead of waiting to in batches
Environment=PYTHONUNBUFFERED=1
ExecStart=python3 ~/rov-web/rov-backend/python/main.py --config-file  ~/rov-config.json
KillMode=mixed
Restart=always
TimeoutStopSec=10s
RestartSec=5s
Type=simple

[Install]
WantedBy=multi-user.target
# see: https://unix.stackexchange.com/questions/506347/why-do-most-systemd-examples-contain-wantedby-multi-user-target
