@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	height: 100%;
}


.snackbar:not(:hover) div[role="alertdialog"]:nth-last-child(1) {
	z-index: 1;
}

.snackbar:not(:hover) div[role="alertdialog"]:nth-last-child(2) {
	transform: translateY(70%);
}

.snackbar:not(:hover) div[role="alertdialog"]:nth-last-child(3) {
	transform: translateY(140%) scale(0.95);
}

.snackbar:not(:hover) div[role="alertdialog"]:nth-last-child(4) {
	transform: translateY(220%) scale(0.9);
}

.snackbar:not(:hover) div[role="alertdialog"]:nth-last-child(5) {
	transform: translateY(320%) scale(0.85);
}

/* rocket theme */
@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}



/* tooltip related styles */


.popper-tooltip[data-popper-placement^="top"]::after {
	bottom: -16px;
	left: 50%;

	transform: translateX(-16px) rotate(0);
}

.popper-tooltip[data-popper-placement^="bottom"]::after {
	top: -15px;
	left: 50%;

	transform: translateX(-16px) rotate(180deg);
}

.popper-tooltip[data-popper-placement^="left"]::after {
	top: 50%;
	right: -22px;

	transform: translateY(-8px) rotate(270deg);
}

.popper-tooltip[data-popper-placement^="right"]::after {
	top: 50%;
	left: -22px;

	transform: translateY(-8px) rotate(90deg);
}

.popper-tooltip[data-popper-placement^="top"]::before {
	bottom: -20px;
	left: 50%;

	transform: translateX(-17px) rotate(0);
}

.popper-tooltip[data-popper-placement^="bottom"]::before {
	top: -19px;
	left: 50%;
	transform: translateX(-17px) rotate(180deg);
}

.popper-tooltip[data-popper-placement^="left"]::before {
	top: 50%;
	right: -26px;

	transform: translateY(-8.5px) rotate(270deg);
}

.popper-tooltip[data-popper-placement^="right"]::before {
	top: 50%;
	left: -26px;

	transform: translateY(-8.5px) rotate(90deg);
}
